writeup/misc/
writeup/nature/figs/misc/

analysis/figure/
analysis/refComplex_paper_analyses_SI.md
analysis/refComplex_paper_analyses_SI.html
analysis/refComplex_paper_analyses.Rmd
analysis/refComplex_paper_analyses.md
analysis/refComplex_paper_analyses.html
analysis/.RData
analysis/.Rhistory
analysis/.Rprofile
analysis/.Rapp.history
analysis/Results with repeat subjects removed.txt

*.DS_Store


# LaTeX #
*.bet
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
